In [1]:
from config import *
isaac_data_folder = parentdir + "/data/isaac/"
import pandas as pd
from main_package.utils import data_path_to_abs_path
from json import dump

In [7]:
dfs = []
for i in range(3, 4):
    print(f'part {i}')
    df = pd.read_csv(data_path_to_abs_path(f'isaac/interaction_data/part_{i}.csv'))
    dfs.append(df)
df = pd.concat(dfs)
question_dict = {q: num for (num, q) in enumerate(df['question_id'].unique())}

part 3

In [3]:
df['question_id'] = df['question_id'].apply(lambda question_id: question_dict[question_id])

In [4]:
df.head()

   user_id  question_id correct
0        0            0       f
1        1            1       t
2        0            2       t
3        2            3       f
4        1            4       t

In [5]:
df['correct'] = df['correct'] == 't'
df['correct'] = df['correct'].astype(int)
df = df.rename(columns={'question_id': "sequence_id"})
df = df.reset_index()
df = df.rename(columns={'index': 'log_id'})
df.head()

   log_id  user_id  sequence_id  correct
0       0        0            0        0
1       1        1            1        1
2       2        0            2        1
3       3        2            3        0
4       4        1            4        1

In [ ]:
df[:1500].to_csv(data_path_to_abs_path(f"isaac/interaction_data/all_data_sample.csv"), index=False)

In [6]:
df.to_csv(data_path_to_abs_path(f"isaac/interaction_data/all_data.csv"), index=False)