In [1]:
from config import *
import pandas as pd
import numpy as np
from main_package.bkt_pyKT import train_bkt, convert_df_strings_to_arrays, evaluate_bkt
from main_package.utils import data_path_to_abs_path

In [2]:
sample = True

data_folder_path_major_skill = 'isaac/pyKT_processed/sample/' if sample else 'isaac/pyKT_processed/'
data_folder_path_first_skill = 'isaac/pyKT_processed/first_skill/sample/' if sample else 'isaac/pyKT_processed/first_skill/'

data_folder_path = data_folder_path_major_skill

df_train = pd.read_csv(data_path_to_abs_path(data_folder_path + 'train_valid.csv'))
convert_df_strings_to_arrays(df_train)
df_test = pd.read_csv(data_path_to_abs_path(data_folder_path + 'test.csv'))
convert_df_strings_to_arrays(df_test)
df_train.head()

,fold,uid,questions,concepts,responses,is_repeat
0,0,41,"[69, 69, 69, 69, 69, 69, 69, 109, 123, 123, 62...","[11, 23, 2, 1, 13, 14, 27, 26, 0, 2, 31, 6, 31...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1]","[0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1]"
1,0,22,"[12, 12, 13, 13, 14, 15, 43, 44, 45]","[18, 19, 18, 19, 20, 20, 20, 20, 20]","[1, 1, 1, 1, 1, 1, 1, 0, 1]","[0, 1, 0, 1, 0, 0, 0, 0, 0]"
2,0,20,"[70, 70, 70, 78, 55, 52]","[31, 6, 7, 29, 1, 1]","[0, 0, 0, 0, 0, 1]","[0, 1, 1, 0, 0, 0]"
3,0,36,"[58, 58, 89, 90, 90, 90, 29, 29]","[5, 6, 44, 5, 23, 6, 28, 29]","[0, 0, 0, 1, 1, 1, 1, 1]","[0, 1, 0, 0, 1, 1, 0, 1]"
4,0,0,"[0, 0, 0, 1, 1, 1, 2, 2, 3, 3]","[0, 1, 2, 0, 3, 1, 3, 2, 1, 4]","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 1, 0, 1, 1, 0, 1, 0, 1]"

In [3]:
bkt_params = train_bkt(df_train)
bkt_params

training time was: 0m 2s
optimized by: L-BFGS-B
p_L0 = 0.035606622833357325
p_G = 0.4467585865849167
p_S = 0.44617969535336316
p_T = 0.09999487441419794
p_F = 0.9999
      fun: 3.4284072327525075
 hess_inv: <5x5 LbfgsInvHessProduct with dtype=float64>
      jac: array([ 1.02140518e-06, -8.88178420e-07,  8.88178420e-08, -3.55271368e-07,
       -6.63469276e-05])
  message: 'CONVERGENCE: NORM_OF_PROJECTED_GRADIENT_<=_PGTOL'
     nfev: 144
      nit: 17
     njev: 24
   status: 0
  success: True
        x: array([0.03560662, 0.44675859, 0.4461797 , 0.09999487, 0.9999    ])

[0.035606622833357325,
 0.4467585865849167,
 0.44617969535336316,
 0.09999487441419794,
 0.9999]

In [7]:
bkt_optimal_params = [0.16035, 0.3, 0.1, 0.0558865, 0.024699] # major_skills
bkt_optimal_params_first_skill = [0.2123448, 0.3, 0.1, 0.05762955, 0.013392]

In [4]:
evaluate_bkt(bkt_params, df_test)

number of predicted questions: 43
auc: 0.4409722222222222
accuracy: 0.627906976744186