In [1]:
from config import *
import pandas as pd
import numpy as np
from main_package.utils import data_path_to_abs_path

In [8]:
df = pd.read_csv(data_path_to_abs_path('piech/piech_all_df_format.csv'))
df.head()

   order_id  user_id  skill_id  correct
0         0        0        82        0
1         1        0        82        0
2         2        0        82        0
3         3        0        82        0
4         4        0        82        0

In [9]:
print(f"number of students: {len(df['user_id'].unique())}")
print(f"number of questions or concepts: {len(df['skill_id'].unique())}")

number of students: 3274
number of questions or concepts: 124

pyKT paper says that there are 123 KCs, so plus None - confirmed that Piech uses KCs