<a href="https://colab.research.google.com/github/Mirko6/part-II-project/blob/main/pyKT_evals/simple_DKT_on_ASSISTment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Done based on the [quick start tutorial](https://pykt-toolkit.readthedocs.io/en/latest/quick_start.html).

## pyKT install

In [ ]:
%pip install -U pykt-toolkit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pykt-toolkit in /usr/local/lib/python3.10/dist-packages (0.0.38)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from pykt-toolkit) (1.2.2)
Requirement already satisfied: torch>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from pykt-toolkit) (2.0.0+cu118)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.10/dist-packages (from pykt-toolkit) (1.22.4)
Requirement already satisfied: wandb>=0.12.9 in /usr/local/lib/python3.10/dist-packages (from pykt-toolkit) (0.15.0)
Requirement already satisfied: pandas>=1.1.5 in /usr/local/lib/python3.10/dist-packages (from pykt-toolkit) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.5->pykt-toolkit) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.5->pykt-toolkit) (2.8.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.7.0->pykt-toolkit) (2.0.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.7.0->pykt-toolkit) (3.1.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.7.0->pykt-toolkit) (3.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch>=1.7.0->pykt-toolkit) (4.5.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch>=1.7.0->pykt-toolkit) (3.12.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.7.0->pykt-toolkit) (1.11.1)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.7.0->pykt-toolkit) (16.0.2)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.7.0->pykt-toolkit) (3.25.2)
Requirement already satisfied: sentry-sdk>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (1.21.1)
Requirement already satisfied: setproctitle in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (1.3.2)
Requirement already satisfied: docker-pycreds>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (0.4.0)
Requirement already satisfied: psutil>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (5.9.5)
Requirement already satisfied: pathtools in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (0.1.2)
Requirement already satisfied: protobuf!=4.21.0,<5,>=3.19.0 in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (3.20.3)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (6.0)
Requirement already satisfied: GitPython!=3.1.29,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (3.1.31)
Requirement already satisfied: appdirs>=1.4.3 in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (1.4.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (67.7.2)
Requirement already satisfied: Click!=8.0.0,>=7.0 in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (8.1.3)
Requirement already satisfied: requests<3,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb>=0.12.9->pykt-toolkit) (2.27.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pykt-toolkit) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pykt-toolkit) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pykt-toolkit) (1.2.0)
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from docker-pycreds>=0.4.0->wandb>=0.12.9->pykt-toolkit) (1.16.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from GitPython!=3.1.29,>=1.0.0->wandb>=0.12.9->pykt-toolkit) (4.0.10)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.0.0->wandb>=0.12.9->pykt-toolkit) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.0.0->wandb>=0.12.9->pykt-toolkit) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.0.0->wandb>=0.12.9->pykt-toolkit) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.0.0->wandb>=0.12.9->pykt-toolkit) (2022.12.7)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.7.0->pykt-toolkit) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.7.0->pykt-toolkit) (1.3.0)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->GitPython!=3.1.29,>=1.0.0->wandb>=0.12.9->pykt-toolkit) (5.0.0)

In [ ]:
!git clone https://github.com/pykt-team/pykt-toolkit.git

fatal: destination path 'pykt-toolkit' already exists and is not an empty directory.

## assist 2009

In [ ]:
#assistment 2009 - download
assistment_2009_download_id = '1NNXHFRxcArrU0ZJSb9BIL56vmUt5FhlE'
# google link 'https://drive.google.com/u/0/uc?id=1NNXHFRxcArrU0ZJSb9BIL56vmUt5FhlE&export=download'
url = 'https://drive.google.com/uc?id=' + assistment_2009_download_id
import gdown, pandas as pd
!mkdir pykt-toolkit/data/assist2009
output = 'pykt-toolkit/data/assist2009/skill_builder_data_corrected_collapsed.csv'
gdown.download(url, output, quiet=False)

mkdir: cannot create directory ‘pykt-toolkit/data/assist2009’: File exists

Downloading...
From: https://drive.google.com/uc?id=1NNXHFRxcArrU0ZJSb9BIL56vmUt5FhlE
To: /content/pykt-toolkit/data/assist2009/skill_builder_data_corrected_collapsed.csv
100%|██████████| 64.4M/64.4M [00:00<00:00, 325MB/s]

'pykt-toolkit/data/assist2009/skill_builder_data_corrected_collapsed.csv'

In [ ]:
#assistment 2009 - open using windows-1252 encoding and save to appropriate place

df = pd.read_csv(
    "pykt-toolkit/data/assist2009/skill_builder_data_corrected_collapsed.csv",
    encoding='windows-1252'
  )
df_sample = df#.head(500) # to have a faster execution, comment out this line to use whole dataset
df_sample.to_csv("pykt-toolkit/data/assist2009/skill_builder_data_corrected_collapsed.csv")
df_sample.head()

<ipython-input-17-e2e900cb29bf>:3: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

,Unnamed: 0,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,1,33022537,277618,64525,33139,51424,1,1,1,32454,...,0,3,32454,30799,NaN,26,0,NaN,1,1.0
1,2,33022709,277618,64525,33150,51435,1,1,1,4922,...,0,3,4922,30799,NaN,55,0,NaN,2,2.0
2,3,35450204,220674,70363,33159,51444,1,0,2,25390,...,0,3,42000,30799,NaN,88,0,NaN,1,1.0
3,4,35450295,220674,70363,33110,51395,1,1,1,4859,...,0,3,4859,30059,NaN,41,0,NaN,2,2.0
4,5,35450311,220674,70363,33196,51481,1,0,14,19813,...,3,4,124564,30060,NaN,65,0,0.0,3,3.0

In [ ]:
print(f'number of interactions: {len(df)}')
print(f"number of questions: {len(df['problem_id'].unique())}")
print(f"number of students: {len(df['user_id'].unique())}")

number of interactions: 346860
number of questions: 26688
number of students: 4217

Make sure, I use the same data as pyKT:


https://pykt-toolkit.readthedocs.io/en/latest/datasets.html
This dataset is made up of math exercises, collected from the free online tutoring ASSISTments platform in the school year 2009-2010. The dataset consists of **346,860 interactions, 4,217 students, and 26,688 questions** and is widely used and has been the standard benchmark for KT methods over the last decade.

# Pre-process, train, and eval - ASSIST2009

In [ ]:
!cd pykt-toolkit/examples/ ; python data_preprocess.py --dataset_name=assist2009

Namespace(dataset_name='assist2009', file_path='../data/peiyou/grade3_students_b_200.csv', min_seq_len=3, maxlen=200, kfold=5)
Start preprocessing data: assist2009
original interaction num: 346860, user num: 4217, question num: 26688, concept num: 125, avg(ins) per s: 82.2528, avg(c) per q: 1.2265, na: 8937
after drop interaction num: 283105, user num: 4163, question num: 17751, concept num: 125, avg(ins) per s: 68.005, avg(c) per q: 1.2265, na: 0
/usr/local/lib/python3.10/dist-packages/pykt/preprocess/assist2009_preprocess.py:25: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for ui in ui_df:
346860,4217,26688,125,82.2528,1.2265,8937
283105,4163,17751,125,68.005,1.2265,0
--------------------------------------------------
delete bad stu num of len: 311, delete interactions: 486, of r: 0, good num: 282619
====================
original total interactions: 282619, qs: 17737, cs: 125, seqnum: 3852
df.columns: Index(['uid', 'is_repeat', 'responses', 'concepts', 'questions'], dtype='object')
====================
after extend multi, total interactions: 337424, qs: 17737, cs: 125, seqnum: 3852
total num: 3852, train+valid num: 3082, test num: 770
fold: 1, start: 0, end: 617, total num: 3082
fold: 2, start: 617, end: 1234, total num: 3082
fold: 3, start: 1234, end: 1850, total num: 3082
fold: 4, start: 1850, end: 2466, total num: 3082
fold: 5, start: 2466, end: 3082, total num: 3082
train+valid original interactions num: 274614, select num: 0, qs: 17405, cs: 122, seqnum: 3082
dropnum: 7
train+valid sequences interactions num: 274607, select num: 274607, qs: 17405, cs: 122, seqnum: 3757
dropnum: 2
original test interactions num: 62810, select num: 0, qs: 13454, cs: 124, seqnum: 770
test sequences interactions num: 62808, select num: 62808, qs: 13454, cs: 124, seqnum: 904
====================
test window interactions num: 3961618, select num: 62810, qs: 13454, cs: 124, seqnum: 20362
test question interactions num: 1447806, select num: 61799, qs: 13454, cs: 124, seqnum: 18292
test question window interactions num: 4679370, select num: 61882, qs: 13454, cs: 124, seqnum: 30610
====================
original,282619,3852,0
extend multi,337424,3852,0
original train+valid,274614,3082,0
train+valid sequences,274607,3757,274607
test original,62810,770,0
test sequences,62808,904,62808
test window,3961618,20362,62810
test question,1447806,18292,61799
test question window,4679370,30610,61882
====================================================================================================
delete bad stu num of len: 311, delete interactions: 486, of r: 0, good num: 282619
====================
original total interactions: 282619, qs: 17737, cs: 125, seqnum: 3852
df.columns: Index(['uid', 'responses', 'concepts', 'questions'], dtype='object')
total num: 3852, train+valid num: 3082, test num: 770
fold: 1, start: 0, end: 617, total num: 3082
fold: 2, start: 617, end: 1234, total num: 3082
fold: 3, start: 1234, end: 1850, total num: 3082
fold: 4, start: 1850, end: 2466, total num: 3082
fold: 5, start: 2466, end: 3082, total num: 3082
train+valid original interactions num: 229471, select num: 0, qs: 17405, cs: 122, seqnum: 3082
dropnum: 12
train+valid sequences interactions num: 229459, select num: 229459, qs: 17405, cs: 122, seqnum: 3580
dropnum: 2
original test interactions num: 53148, select num: 0, qs: 13454, cs: 124, seqnum: 770
test sequences interactions num: 53146, select num: 53146, qs: 13452, cs: 124, seqnum: 874
====================
test window interactions num: 2879147, select num: 53148, qs: 13454, cs: 124, seqnum: 14971
====================
original,282619,3852,0
original train+valid question level,229471,3082,0
train+valid sequences question level,229459,3580,229459
test original question level,53148,770,0
test sequences question level,53146,874,53146
test window question level,2879147,14971,53148

In [ ]:
!cd pykt-toolkit/examples/ ; python3 wandb_dkt_train.py --dataset_name=assist2009 --use_wandb=0 > dkt_train.txt

In [ ]:
!cd pykt-toolkit/examples/ ; python3 wandb_predict.py --use_wandb=0 --save_dir='saved_model/assist2009_dkt_qid_saved_model_42_0_0.2_200_0.001_0_1'

Namespace(bz=256, save_dir='saved_model/assist2009_dkt_qid_saved_model_42_0_0.2_200_0.001_0_1', fusion_type='late_mean', use_wandb=0)
model_name is dkt
Read data from processed file: ../data/assist2009/test_sequences.csv_-1.pkl
file path: ../data/assist2009/test_sequences.csv, qlen: 904, clen: 904, rlen: 904
Start preprocessing ../data/assist2009/test_window_sequences.csv fold: _-1...
interaction_num: 62810
file path: ../data/assist2009/test_window_sequences.csv, qlen: 20362, clen: 20362, rlen: 20362
Start preprocessing ../data/assist2009/test_question_sequences.csv fold: _-1...
interaction_num: 61799
file path: ../data/assist2009/test_question_sequences.csv, qlen: 18292, clen: 18292, rlen: 18292
Start preprocessing ../data/assist2009/test_question_window_sequences.csv fold: _-1...
interaction_num: 61882
file path: ../data/assist2009/test_question_window_sequences.csv, qlen: 30610, clen: 30610, rlen: 30610
has test_question_file!
Start predicting model: dkt, embtype: qid, save_dir: saved_model/assist2009_dkt_qid_saved_model_42_0_0.2_200_0.001_0_1, dataset_name: assist2009
model_config: {'dropout': 0.2, 'emb_size': 200}
data_config: {'dpath': '../data/assist2009', 'num_q': 17737, 'num_c': 125, 'input_type': ['questions', 'concepts'], 'max_concepts': 4, 'min_seq_len': 3, 'maxlen': 200, 'emb_path': '', 'train_valid_original_file': 'train_valid.csv', 'train_valid_file': 'train_valid_sequences.csv', 'folds': [0, 1, 2, 3, 4], 'test_original_file': 'test.csv', 'test_file': 'test_sequences.csv', 'test_window_file': 'test_window_sequences.csv', 'test_question_file': 'test_question_sequences.csv', 'test_question_window_file': 'test_question_window_sequences.csv', 'train_valid_original_file_quelevel': 'train_valid_quelevel.csv', 'train_valid_file_quelevel': 'train_valid_sequences_quelevel.csv', 'test_file_quelevel': 'test_sequences_quelevel.csv', 'test_window_file_quelevel': 'test_window_sequences_quelevel.csv', 'test_original_file_quelevel': 'test_quelevel.csv', 'dataset_name': 'assist2009'}
ts.shape: (61904,), ps.shape: (61904,)
testauc: 0.8232057641586235, testacc: 0.7648132592401137
ts.shape: (62040,), ps.shape: (62040,)
testauc: 0.8232057641586235, testacc: 0.7648132592401137, window_testauc: 0.8239996514920562, window_testacc: 0.7651353965183753
{'testauc': 0.8232057641586235, 'testacc': 0.7648132592401137, 'window_testauc': 0.8239996514920562, 'window_testacc': 0.7651353965183753, 'oriaucconcepts': 0.7362871496935158, 'oriauclate_mean': 0.7492027693782956, 'oriauclate_vote': 0.7476505737102569, 'oriauclate_all': 0.7471210463848617, 'oriaccconcepts': 0.7123922483634714, 'oriacclate_mean': 0.7192942167106824, 'oriacclate_vote': 0.7190645692195813, 'oriacclate_all': 0.7160600145443411, 'windowaucconcepts': 0.7371103672846513, 'windowauclate_mean': 0.7502161500903384, 'windowauclate_vote': 0.748626756671726, 'windowauclate_all': 0.748149794165968, 'windowaccconcepts': 0.7126304902879674, 'windowacclate_mean': 0.7195769216083089, 'windowacclate_vote': 0.7194432777120165, 'windowacclate_all': 0.7164649280232158}

# Train and Eval ASSISTment 2015
(no need to pre-process the data because it is already in pre-processed state by downloading the pykt-toolkit)

In [ ]:
!cd pykt-toolkit/examples/ ; python3 wandb_dkt_train.py --dataset_name=assist2015 --use_wandb=0 > dkt_train.txt

In [ ]:
!cd pykt-toolkit/examples/ ; python3 wandb_predict.py --use_wandb=0 --save_dir='saved_model/assist2015_dkt_qid_saved_model_42_0_0.2_200_0.001_0_1'

Namespace(bz=256, save_dir='saved_model/assist2015_dkt_qid_saved_model_42_0_0.2_200_0.001_0_1', fusion_type='early_fusion,late_fusion', use_wandb=0)
model_name is dkt
Read data from processed file: ../data/assist2015/test_sequences.csv_-1.pkl
file path: ../data/assist2015/test_sequences.csv, qlen: 0, clen: 3866, rlen: 3866
Start preprocessing ../data/assist2015/test_window_sequences.csv fold: _-1...
interaction_num: 138458
file path: ../data/assist2015/test_window_sequences.csv, qlen: 0, clen: 6102, rlen: 6102
Start predicting model: dkt, embtype: qid, save_dir: saved_model/assist2015_dkt_qid_saved_model_42_0_0.2_200_0.001_0_1, dataset_name: assist2015
model_config: {'dropout': 0.2, 'emb_size': 200}
data_config: {'dpath': '../data/assist2015', 'num_q': 0, 'num_c': 100, 'input_type': ['concepts'], 'max_concepts': 1, 'min_seq_len': 3, 'maxlen': 200, 'emb_path': '', 'train_valid_original_file': 'train_valid.csv', 'train_valid_file': 'train_valid_sequences.csv', 'folds': [0, 1, 2, 3, 4], 'test_original_file': 'test.csv', 'test_file': 'test_sequences.csv', 'test_window_file': 'test_window_sequences.csv', 'train_valid_original_file_quelevel': 'train_valid_quelevel.csv', 'train_valid_file_quelevel': 'train_valid_sequences_quelevel.csv', 'test_file_quelevel': 'test_sequences_quelevel.csv', 'test_window_file_quelevel': 'test_window_sequences_quelevel.csv', 'test_original_file_quelevel': 'test_quelevel.csv', 'dataset_name': 'assist2015'}
ts.shape: (134592,), ps.shape: (134592,)
testauc: 0.7267396805291921, testacc: 0.7513225154541132
ts.shape: (134640,), ps.shape: (134640,)
testauc: 0.7267396805291921, testacc: 0.7513225154541132, window_testauc: 0.7267935087067163, window_testacc: 0.7512032085561497
{'testauc': 0.7267396805291921, 'testacc': 0.7513225154541132, 'window_testauc': 0.7267935087067163, 'window_testacc': 0.7512032085561497}